<!-- Ausgelagerter Header -->

<header id="header">
	<div class="logo container">
		<div>
			<h4><a>Heatmap</a></h4>
		</div>
	</div>
</header>

<!-- Nav -->
<nav id="nav">
	<ul>
		<li class ="current"><%= link_to "Home" %></li>
	
		
	</ul>
</nav>
